<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <style>
      body {
        background-color: rgb(0, 0, 0);
        color: lavenderblush;
        text-align: center;
        font-size: xx-large;
      }
      a {
        border: 2mm ridge white;
        padding: 10px;
        background-color: lavenderblush;
        border-radius: 15px;
        font-size: 75%;
      }
    </style>
  </head>
  <body>
    <h1>
      Welcome, if you would like to see the available reviews click below.
    </h1>
    <h3><a href="/reviews">List of all Reviews</a></h3>
  <footer>
    <small>&copy Ryan Webster 2021</small>
  </footer>
  </body>
</html>

